header {
  margin: 5px;
}

.comment {
  width: 80% !important;
  text-align: left;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('../img/menu.png') ;
}

.bg-top1 {
  background: url("../img/top1.png") 0 0 repeat;
  background-repeat: repeat-x;
  height: 28px;
  overflow: hidden;
}

.nav-link {
  padding: .2rem 1rem;
}
a.nav-link.active{
  color: red;
}

.modal-content{
  background-color: #F6CED3;  
}
.modal-content a{
  color: black;
}

header.top-page .title {
  display: none;
}